<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">forkjoin Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>Wait for Observables to complete and then combine last values they emitted; complete immediately if an empty array is passed.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>forkJoin(...args: any[])</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
 

