<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">partition Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>Splits the source Observable into two, one with values that satisfy a predicate, and another with values that don't satisfy the predicate.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>partition(source: ObservableInput, predicate: (this: any, value: T, index: number) => boolean, thisArg?: any)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  
  