<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">concat Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>Concatenates multiple Observables together by sequentially emitting their values, one Observable after the other.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>concat(...args: any[])</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  <div class="d-flex">
    <!-- <h3><strong>Output:   {{output}}  </strong></h3> -->
        
  </div>
  