<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">tap Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>tap passes values along to the observer (mirroring) without modification while also executing a callback corresponding to the type of the value emitted by a source observable- next, error or complete notifications.
    </h3>
    <br />
    <h3><strong>Syntax: </strong> tap(observerOrNext?: Partial | ((value: T) => void), error?: (e: any) => void, complete?: () => void)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
    <h3 class="">
        <strong>Use Cases: </strong>tap is mostly used for side-effects. Imagine you want to record all events happening inside an input and then later replay them.
      </h3>
   
  
  

   