
<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">fromEvent Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>Creates an Observable that emits events of a specific type coming from the given event target.


    </h3>
    <br />
    <h3><strong>Syntax: </strong>fromEvent(target, event)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  
  