<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">merge Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>Flattens multiple Observables together by blending their values into one Observable.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>merge(...args: (number | SchedulerLike | ObservableInput)[])</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  
  