<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">distinct Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>Returns an Observable that emits all items emitted by the source Observable that are distinct by comparison from previous items.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>distinct(keySelector?: (value: T) => K, flushes?: ObservableInput)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  
  