<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">catchError Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>catchError passes values along to the observer until an error in the source stream occurs. When that happens, the operator executes a callback function passing in the error. 
      The function is expected to return an observable that will replace the original source observable.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>catchError(project : function)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  <div class="d-flex">
    <!-- <h3><strong>Output:   {{output}}  </strong></h3> -->
        
  </div>
  