<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">take Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>take passes values from the source observable to the observer until it reaches the threshold of values set for the operator.
    </h3>
    <br />
    <h3><strong>Syntax: </strong> take(count: number)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
   
  
  

   