<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">debounce Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>debounce delays the values emitted by a source until the duration Observable emits a value or completes. 
      If within this time a new value arrives, the previous pending value is dropped and the duration Observable is re-subscribed.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>debounce(durationSelector: (value: T) => ObservableInput)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
    <div>
    <input matInput placeholder="Search" #search>
    </div>

  
  
  