<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">debounce Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>debounce delays the values emitted by a source until the duration Observable emits a value or completes. 
      If within this time a new value arrives, the previous pending value is dropped and the duration Observable is re-subscribed.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>debounce(durationSelector: (value: T) => ObservableInput)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
    <div>
    <input matInput placeholder="Search" #search>
    </div>
    <h3 class="">
      <strong>Description: </strong>  This operator is mostly used for events that can be triggered tens or even hundreds of times per second. The most common examples are DOM events such as scrolling, mouse movement, and keypress. When using debouce you only care about the final state. For example, current scroll position when a user stops scrolling, or a final text in a searchbox after a user stops typing in characters. In effect, using the operator allows grouping multiple sequential events into a single one and hence execute the callback just once. This can greatly improve performance.

    </h3>

  
  
  