
<div class="container-fluid mx-2 my-2">
    <h2 class="text-center text-bg-primary">Categories Of RxJS Operators</h2>
    <div class="d-flex flex-wrap justify-content-evenly">
       <div class="card w-25  my-2 mx-1">
        <div class="card-header bg-danger text-center text-light h6" >Creation Operators</div>
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="btn btn-info border-dark my-1" routerLink="/observable/creation/fromevent">fromEvent</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/creation/of">of</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/creation/range">range</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/creation/interval">interval</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25  my-2 mx-1">
        <div class="card-header bg-danger text-center text-light h6" > Join Creation Operators</div>
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="btn btn-info border-dark my-1" routerLink="/observable/join-creation/concat" >concat</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/join-creation/forkjoin">forkJoin</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/join-creation/merge">merge</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/join-creation/partition">partition</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25  my-2 mx-1">
        <div class="card-header bg-danger text-center text-light h6" >Transformation Operators</div>
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="btn btn-info border-dark my-1" routerLink="/observable/transformation/map">map</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/transformation/scan">scan</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25  my-2 mx-1">
        <div class="card-header bg-danger text-center text-light h6" >Filtering Operators</div>
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="btn btn-info border-dark my-1" routerLink="/observable/filtering/debounce">debounce</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/filtering/distinct">distinct</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/filtering/filter">filter</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/filtering/take">take</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/filtering/throttle">throttle</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25  my-2 mx-1">
        <div class="card-header bg-danger text-center text-light h6" >Error Handling Operators</div>
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="btn btn-info border-dark my-1" routerLink="/observable/error-handling/catchError">catchError</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/error-handling/retry">retry</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card w-25  my-2 mx-1">
        <div class="card-header bg-danger text-center text-light h6" >Utility Operators</div>
        <div class="card-body">
          <div class="container text-center">
            <div class="row">
              <div class="btn btn-info border-dark my-1" routerLink="/observable/utility/tap">tap</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/utility/delay">delay</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/utility/timeout">timeout</div>
              <div class="btn btn-info border-dark my-1" routerLink="/observable/utility/toArray">toArray</div>

            </div>
          </div>
        </div>
      </div>
    </div>
</div>