
<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">of Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>of is used to emit arguments as values in a sequence and then complete the stream.
      of is commonly used when you simply need to return a value where an observable is expected
    </h3>
    <br />
    <h3><strong>Syntax: </strong>signature: of(...values, scheduler: Scheduler): Observable</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  
  