<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">scan Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>Applies a given project function to each value emitted by the source Observable, and emits the resulting values as an Observable.
    </h3>
    <br />
    <h3><strong>Syntax: </strong>scan(accumulator: (acc: V | A | S, value: V, index: number) => A, seed?: S)</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
  
  
  