<div class="container-fluid my-2">
    <h2 class="text-center text-bg-primary">delay Operator</h2>
  
    <h3 class="">
      <strong>Description: </strong>delay time shifts each emitted value from the source observable by a defined time span or until a given date.
    </h3>
    <br />
    <h3><strong>Syntax: </strong> delay(due: number | Date )</h3>
  
    <div class="d-flex">
      <h3><strong>Snippet: </strong></h3>
      <pre>
               <code>{{snippet}}</code>
              </pre>
    </div>
    <h3 >
        <strong>Use Cases: </strong>delay is commonly used to mock some asynchronous activity, such as network requests.
      </h3>
   
  
  

   